* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #494d66;
}

/*------------NAVBAR------------*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00041c;
  padding: 10px;
  color: white;
  border: 2px solid red;
  padding: 1rem;
  height: 5rem;
  a {
    text-decoration: none;
    color: rgb(67, 0, 67);
    font-family: Arial, Helvetica, sans-serif;
  }

  button {
    background-color: transparent;
    border: none;
  }
}

#logo {
  width: 10rem;
  border: 2px solid blue;
}

#menu-icon {
  width: 2rem;
  color: white
}

/*--------------NAVBAR LINKS--------------*/

#menu {
    list-style: none;
    flex-direction: column;
    font-size: 2rem;
    gap: 4rem;
    padding-top: 4rem;
    align-items: center;
    background-color: rgb(206, 154, 255);
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 5rem);
  }
  
.navbar-links ul {
  list-style: none;
  padding: 0;
}

.navbar-links li {
  display: inline-block;
  padding: 0 20px;
}

.navbar-links a {
  text-decoration: none;
  color: white;
}

.nav-item {
  position: relative;
  transition: all 200ms linear;
}

.nav-item:hover .nav-link {
  color: #8167a9;
}
.nav-item.active .nav-link {
  color: #777;
}

.nav-item:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #8167a9;
  opacity: 0;
  transition: all 200ms linear;
}
.nav-item:hover:after {
  bottom: 0;
  opacity: 1;
}

.nav-link {
  position: relative;
  padding: 5px 0;
  display: inline-block;
}

/*--------------TOGGLE FUNC---------------*/
.not-visible {
  display: none;
}

.flex {
  display: flex;
}





/*----------------RESPONSIVE QUERY------------------*/
@media (width > 640px) {
  #menu {
    /* display: flex; */
    display: flex;
    position: inherit;
    flex-direction: row;
    height: auto;
    padding-top: 0;
    font-size: 1rem;
    justify-content: space-around;
  }

  nav button {
    display: none;
  }

  nav {
    align-content: center;
  }
}
