.navbar {
  background-color: #2e2e2e;
  height: 8rem;
  max-height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem;
  width: 100%;
}


.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.menu-btn span {
  display: block;
  
  height: 0.3rem;
  background: #fff;
  transition: all 0.3s;
  border-radius: 5px;
}

.menu-btn.close-menu span:nth-child(1) {
  transform: translateY(0.85rem) rotate(45deg);
}

.menu-btn.close-menu span:nth-child(2) {
  opacity: 0;
}

.menu-btn.close-menu span:nth-child(3) {
  transform: translateY(-0.85rem) rotate(-45deg);
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 8rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 8rem);
  background-color: rgba(0, 0, 0, 0.888);
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.navbar-nav.menu-visible {
  transform: translateX(0);
  list-style-type: none;
  height: 100vh;
  overflow: hidden; /* Prevent internal scrolling */
  z-index: 999;
}


.li-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center;    /* Center horizontally */
  text-align: center;
  height: 100%;
  gap: 4rem;
  
}

.nav-item {
  color: #fff;
  text-decoration: none;

  h1 {
    font-size: 2rem;
    letter-spacing: 5px;
  }
}



@media (min-width: 768px) and (max-width: 1024px) {
  /* Tablet view */
  .menu-btn {
    display: none; /* Hide menu button */
  }

  .navbar-nav {
    display: flex;
    position: static; /* Static position for inline links */
    flex-direction: row; /* Horizontal alignment */
    transform: none; /* No transform needed */
    width: auto; /* Adjust width to fit content */
    height: auto; /* Adjust height to fit content */
    background-color: transparent; /* No background in wider views */
  }

  .li-container {
    display: flex;
    flex-direction: row;
    padding-right: 5rem;
  }


  .nav-item:hover {
    color: rgb(187, 134, 208);
    transform: skew(10deg);
  }
}

@media (min-width: 1025px) {
  /* Desktop view */
  .menu-btn {
    display: none; /* Always hide menu button */
  }

  .navbar-nav {
    display: flex;
    position: static;
    flex-direction: row;
    align-content: center;
    transform: none; 
    width: auto;
    background-color: transparent;
  }

  .li-container {
    display: flex;
    flex-direction: row;
    padding-right: 5rem;
  }


  .nav-item:hover {
    color: rgb(187, 134, 208);
    transform: skew(10deg);
  }
}

