* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/*----------------NAVBAR---------------------*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2029;
  padding: 10px;
  color: white;
}

.toggle-button {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.toggle-button .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.nav-link {
  position: relative;
  padding: 5px 0;
  display: inline-block;
}

.navbar-links ul {
  list-style: none;
  padding: 0;
}

.navbar-links li {
  display: inline-block;
  padding: 0 20px;
}

.navbar-links a {
  text-decoration: none;
  color: white;
}

.nav-item {
  position: relative;
  transition: all 200ms linear;
}

.nav-item:hover .nav-link {
  color: #8167a9;
}
.nav-item.active .nav-link {
  color: #777;
}

.nav-item:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #8167a9;
  opacity: 0;
  transition: all 200ms linear;
}
.nav-item:hover:after {
  bottom: 0;
  opacity: 1;
}


/*--------------------Media Query----------------*/
@media (max-width: 768px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links.active {
    display: flex;
  }
}
